@font-face {
    font-family: 'Impure Mount Script';
    src: url('ImpureMount-Script.woff2') format('woff2'),
        url('ImpureMount-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

